@using theBox.Entity;
@model Product
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row pb-3 mt-5">

        <div class="col-md-6 mb-5">
            <img src="~/theme/img/@Model.Image" class="img-responsive w-100">
        </div>
        <div class="col-md-6 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Name</h1>
                </div>
                <div class="col-md-12">
                    <span class="badge badge-primary">Stok Mecvut</span>
                </div>
                <div class="col-md-12 mt-1">
                    <div id="description">
                        @Model.Description
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div id="write-review" class="col-md-3 mt-2">
                    <a href="#">Değerlendirme</a>
                </div>
                <div class="col-md-12 mt-2">
                    <h3 id="product-price">@Model.Price ₺</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-2">

                    @using(Html.BeginForm("AddToCart","Cart"))
                     {
                        @Html.HiddenFor(i => i.Id)
                        <button type="submit" class="btn btn-success">
                            Sepete Ekle
                            <i class="fas fa-basket-shopping"></i>
                        </button>
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs" id="nav-index" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Ürün Açıklaması</button>
                    <button class="nav-link" id="nav-comment" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Değerlendirmeler</button>
                    <button class="nav-link" id="nav-return" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">İade ve İptal Koşulları</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p>
                        🎵 Harmony Kutusu - Müzik ve Vinyl Sürprizleri 🎵<br>

                        Müziğin büyülü dünyasına yepyeni bir yolculuk için "Harmony Kutusu" sizleri bekliyor! Bu özel kutu, her ay seçilmiş eşsiz müzikal keşiflerle dolu, gerçek bir müzik tutkununun hayalini gerçekleştiriyor.<br><br>

                        🌟 Neler Bulacaksınız?<br>

                        Vinyl Plaklar: Her ay özenle seçilmiş, nadir bulunan veya popüler müzik türlerini içeren bir vinyl plak ile evinize gelen eşsiz bir koleksiyon.<br>

                        Konsept Albüm: Sizi derinden etkileyebilecek, albümün tamamını keşfetmeniz için seçilmiş bir konsept albüm.<br>

                        Müzik Aksesuarları: Vinyl keyfinizi artıracak pratik ve şık müzik aksesuarları. (Plak temizleme malzemeleri, plak çerçeveleri, vb.)<br>

                        Sanat ve Bilgi Kartları: Her plak ve konsept albüm hakkında bilgi dolu kartlar ile müziği daha yakından tanıyın.<br><br>

                        🎁 Neden Harmony Kutusu?<br>

                        Sürpriz ve Heyecan: Her ay farklı bir müzikal sürprizle karşılaşın, müzik dünyasını keşfedin.<br>

                        Kaliteli Ürünler: Her ürün, müzik severlere özel olarak seçilmiş, kaliteli ve özenle paketlenmiş ürünlerden oluşmaktadır.<br>

                        Koleksiyonunuzu Zenginleştirin: Evinizdeki müzik koleksiyonunuza benzersiz ve özel vinyl plaklar ekleyerek, müzik zevkinizi daha da zenginleştirin.
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <p>
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p>
                        🔄 İptal ve İade Politikamız 🔄<br><br>

                        Müşteri memnuniyeti bizim için en öncelikli konudur. Sipariş verdiğiniz ürünlerden herhangi biri ile ilgili sorun yaşamanız durumunda, aşağıdaki politikamız çerçevesinde size yardımcı olmaktan mutluluk duyarız.<br><br>

                        İptal Politikası:<br>

                        1.  Sipariş İptali Süreci:<br>

                        *   Siparişinizi iptal etmek istediğinizde, en kısa sürede bizimle iletişime geçiniz. İptal talepleri, ürünlerin sevkiyat öncesinde gerçekleşmesi durumunda değerlendirilebilir.<br>
                        2.  Ödeme İadesi:<br>

                        *   İptal edilen siparişlerde ödemeniz, ödeme yönteminize uygun bir şekilde iade edilecektir. İade süreci, banka işlemleri ve ödeme hizmeti sağlayıcıları tarafından belirlenen sürelere tabidir.<br><br>

                        İade Politikası:<br>

                        1.  Hasarlı veya Hatalı Ürünler:<br>

                        *   Ürünlerimiz özenle paketlenir, ancak hasarlı veya hatalı bir ürün almanız durumunda, lütfen en kısa sürede bizimle iletişime geçin. Gerekli bilgileri sağladıktan sonra, hasarlı ürünü bize geri göndermeniz halinde, size yeni bir ürün gönderme veya ücret iadesi yapma seçenekleri sunulacaktır.<br>
                        2.  Memnuniyetsizlik Durumunda İade:<br>

                        *   Sipariş ettiğiniz ürünle ilgili memnuniyetsizlik yaşarsanız, ürünü orijinal ambalajında ve kullanılmamış olarak 30 gün içinde iade edebilirsiniz. İade talebinizi bizimle paylaştıktan sonra, ürünü bize gönderdikten sonra iade işlemi başlatılacaktır.<br>
                        3.  İade Adresi:<br>

                        *   İade etmek istediğiniz ürünleri, size iletilen iade talimatları doğrultusunda belirtilen adresimize gönderebilirsiniz.<br>
                        4.  İade Kargo Ücretleri:<br>

                        *   Hasarlı veya hatalı ürünlerden kaynaklanan iade taleplerinde kargo ücretleri firmamız tarafından karşılanacaktır. Diğer iade durumlarında kargo ücretleri müşteriye aittir.<br><br>

                        İptal ve iade işlemleriyle ilgili daha fazla bilgi veya yardım için her zaman müşteri hizmetlerimizle iletişime geçebilirsiniz. Sizlere en iyi hizmeti sunmak için buradayız!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
