@using theBox.Entity;
@model IEnumerable<Product>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron mt-5" style="background-color: #343a40; color: white;">
    <div class="container">
        <h1 class="display-4" style="font-weight: bold; font-size: 3rem;">The Box'a Hoş Geldiniz!</h1>
        <p class="lead" style="font-weight: bold; font-size: 1.5rem;">The Box, size eşsiz alışveriş deneyimleri sunan bir çevrimiçi platformdur. Moda, elektronik, ev dekorasyonu ve daha birçok kategoride en yeni ürünleri keşfetmek için doğru adrestesiniz.</p>
        <hr class="my-4">
    </div>
</div>




<div class="container pb-5">

    <div class="row">

        @foreach (var urun in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="~/theme/img/@urun.Image" class="card-img-top" alt="@urun.Name">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/Home/Details/@urun.Id">@urun.Name</a>
                        </h4>
                        <p class="card-text">
                            @urun.Description
                        </p>
                        <div class="card-text">
                            <small class="text-muted  product-price">
                                @urun.Price ₺
                            </small>
                            <a href="/Home/Details/@urun.Id" class="btn btn-default btn-sm float-right">
                                Ürünü incele <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>