@model theBox.Models.Cart

<style>
    #cart {
        color: white;
    }
</style>

<ul class="navbar-nav my-2 my-lg-0">
    <li id="cart" class="nav-item active">
        <i class="fas fa-basket-shopping"></i>
        @(Model.CartLines.Count)
    </li>
</ul>
